[Unit]
Description=frzr automatic updates
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=frzr-deploy
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
